$accentColor = #11998e;
$accentColorLight = #11FFBD;
$textColor = #2c3e50;
$borderColor = #eaecef;
$codeBgColor = #282c34;
$textLight = #779;
$hoverBgColor = lighten($accentColor, 80%);
$lightShadow = 0 0 10px transparentify(#000, 10%);
$lightColor = #f6f7f8
